*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
}
body{
  height: 100vh;
  background: linear-gradient(135deg, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 128, 1) 100%);  font-family: 'poppins' ;
  display: flex;
  justify-content: center;
  align-items: center;
}